.title{
    font-size: 7rem;
    color: white;
}
.tarjeta{
    width: 350px;
    height: 160px;
    background-color: #4569819b;
    margin: auto;
    border-radius: 20px;
    margin-top: 50px;
}
.title1{
    color: white;
    padding-left: 130px;
    padding-top: -100px;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -3rem;
    margin-right: 1rem;
}
.pCard{
    color: rgb(220, 220, 220);
    padding-left: 130px;
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0.5rem;
    margin-right: 1rem;
}
.imgLogo{
   width: 22%;
}